<div class= "mainInfo">
    <h1>The universe needs an Holistic detective!</h1>
    <h3> <i>"Dirk Gently's holistic detective agency" </i> is the best fantasy television ever created! It is special, colorful, funny and magical. </h3>
    <h3>Evil forces took it away from us, and we want it BACK!</h3>

    <a href="/register"> <h4 id="toRegister"  class="navLinks"> Register to sign the petition </h4></a>
    <a href="/login"> <h4 id="toLogin"  class="navLinks"> Login to your accounthere </h4></a>

    <br><br><br><br>
    <p> Never heard about this show? Then whatch the trailer:</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5TNXaCBAjpo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
