


<form method="post" class= "mainInfo">
<h1> Please register in order to sign the petition </h1>
    <input name="first" placeholder="First Name">
    <input name="last" placeholder="Last Name"><br><br>
    <input name="email" placeholder="email address">
    <input name="password" placeholder="password"  type="password">
    <input name="_csrf" type="hidden" value="{{csrfToken}}">
    <br><br>
    <button class="registerButton">REGISTER</button>


  <p>If you are already registered, please <a href="/login">login </a></p>

</form>
