
<div class="nav">
    <!-- <h3 class="navH"> Hello  {{name}} </h3> -->
    <a href="/edit" class="navLinks">Edit {{name}}'s profile</a>
    <a href="/logout" id="logout" class="navLinks">Logout</a>
</div>

<div class= "mainInfo">
    <h1> Thank you for joining our team, dear assistant! </h1>
    <h3> You are now a leaf in the stream of creation </h3>
    <!-- <img src="didit.gif"> -->
    <img src={{signature}} id="imgSigned">

    <h3>Want to know who else signed? </h3>
    <a href="/signers" class="navLinks">See Signers</a>
</div>
